.featurette-heading {
  font-size: 40px;
}
.featurette-heading {
  font-weight: 450;
  line-height: 1;
  letter-spacing: -0.05rem;
  margin-top: 7rem;
}

.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
