.offerWrapper {
    padding: 10px 12px;
    border: solid 1px #eaeaec;
    border-radius: 4px;
    border-left: 3px solid #14c8a8;
}
.offerListing {
    padding-left: 22px;
    list-style: circle !important;
    font-size: .88rem;
    color: #424553;
}