.productInfoSlider {
    display: none;
    position: absolute;
    bottom: -84px;
    left: 0;
    background: #ffffff;
    width: 100%;
    padding: 10px
}

.productThumbWrapper {
    width: 100%;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    border: solid 1px #eaeaec;
}
.productThumbWrapper:hover,.productInfoWrapperActive {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.20);
}
.productThumbWrapper:hover .productInfoSlider,.productInfoWrapperActive .productInfoSlider{
    display: block;
}
.productInfoWrapper {
    padding: 10px;
    position: relative;
    background: #ffffff;

}
.productInfoWrapperActive {
    padding: 10px;
    position: relative;
    background: #ffffff;
    bottom: 87px;
}
.productInfoImageWrapper{
    position: relative;
}
.sizeComponent {
    display: none;
}
.productInfoSizeCnt {
    margin-top: 15px;
}
