/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.contentWrapper {
  margin-top: 90px;
}
.App-intro {
  font-size: large;
}
.mTop10{
  margin-top: 10px
}
.mTop20{
  margin-top: 20px
}
.mrNone {
  margin-top:0px !important;
}
.heading-medium {
  font-size: 1.4rem !important;
}
.heading-category {
  font-size: 1rem !important;
}
.heading-small {
  font-size: 1.1rem !important;
}
.lead-small{
  font-size: 1.1rem !important;
}
.mLR5 {
  margin-left: 5px;
  margin-right: 5px;
}
.small-text {
  font-size: .88rem;
    color: #424553;
}
.heading-success {
  color:#14c8a8;
}
.card {
  border: solid 1px #eaeaec !important;
}
.card-title {
  font-size: 1rem;
}
.pull-right {
  float: right;
}
.gutterSpace20 {
  padding: 20px;
}
.mrTB3{
  margin-top: 3px;
  margin-bottom: 3px;
}
.width100 {
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
