.navbar-dark .navbar-brand {
  color: #ffffff !important;
}
.App-logo {
  height: 40px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}
.navbar-dark {
  background: none;
}
.whiteHeader {
  transition: 0.2s;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06) !important;
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06) !important;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06) !important;
}
.navbar {
  box-shadow: none;
}
.whiteHeader.navbar-dark .navbar-nav .nav-link {
  color:#545454 !important;
}