
.whitBG {
  background: #ffffff !important;
}

.jumbotron .container {
  max-width: 40rem;
}
.skyBlueBG {
  background: #87ceeb !important;
}
.bannerText .whiteColor,
.whiteColor {
  color: #ffffff !important;
}

.jumbotron {
  min-height: 700px;
}
.bannerText {
  padding-top: 17%;
}